{
  "openapi": "3.0.3",
  "info": {
    "title": "BlackRoad Index",
    "description": "Gitea + GitHub code search with FTS5",
    "version": "1.0.0",
    "contact": {
      "name": "BlackRoad OS, Inc.",
      "url": "https://blackroad.io",
      "email": "alexa@blackroad.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/BlackRoad-OS-Inc"
    }
  },
  "servers": [
    {
      "url": "https://index.blackroad.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "summary": "Search code across repos",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Index statistics",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/index": {
      "post": {
        "summary": "Index repo metadata",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/index-files": {
      "post": {
        "summary": "Index file contents",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/webhook": {
      "post": {
        "summary": "Gitea/GitHub webhook",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}