{
  "openapi": "3.0.3",
  "info": {
    "title": "RoadSearch",
    "description": "BlackRoad FTS5 search engine with AI answers",
    "version": "1.0.0",
    "contact": {
      "name": "BlackRoad OS, Inc.",
      "url": "https://blackroad.io",
      "email": "alexa@blackroad.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/BlackRoad-OS-Inc"
    }
  },
  "servers": [
    {
      "url": "https://search.blackroad.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "summary": "Full-text search with AI answers",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/suggest": {
      "get": {
        "summary": "Search suggestions and autocomplete",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/trending": {
      "get": {
        "summary": "Trending search queries",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Search index statistics",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/index": {
      "post": {
        "summary": "Index pages (auth required)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/rebuild": {
      "post": {
        "summary": "Rebuild FTS5 index (auth required)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/lucky": {
      "get": {
        "summary": "I'm Feeling Lucky \u2014 redirect to top result",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}