{
  "openapi": "3.0.3",
  "info": {
    "title": "BlackRoad Auth",
    "description": "JWT authentication with PBKDF2 hashing",
    "version": "1.0.0",
    "contact": {
      "name": "BlackRoad OS, Inc.",
      "url": "https://blackroad.io",
      "email": "alexa@blackroad.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/BlackRoad-OS-Inc"
    }
  },
  "servers": [
    {
      "url": "https://auth.blackroad.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/signup": {
      "post": {
        "summary": "Create new account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/signin": {
      "post": {
        "summary": "Sign in with email/password",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "summary": "Get current user (auth required)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/signout": {
      "post": {
        "summary": "Sign out and revoke sessions",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/user": {
      "post": {
        "summary": "Update user profile (auth required)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "summary": "User and session counts",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}