[submodule "blackroad-agents"]
path = blackroad-agents
url = https://github.com/BlackRoad-OS/blackroad-agents.git
update = none

[submodule "blackroad-api"]
	path = blackroad-api
	url = https://github.com/BlackRoad-OS/blackroad-api.git
	update = none

[submodule "blackroad-docs"]
	path = blackroad-docs
	url = https://github.com/BlackRoad-OS/blackroad-docs.git
	update = none

[submodule "blackroad-gateway"]
	path = blackroad-gateway
	url = https://github.com/BlackRoad-OS/blackroad-gateway.git
	update = none

[submodule "blackroad-infra"]
	path = blackroad-infra
	url = https://github.com/BlackRoad-OS/blackroad-infra.git
	update = none

[submodule "blackroad-nano-medicine"]
	path = blackroad-nano-medicine
	url = https://github.com/BlackRoad-OS/blackroad-nano-medicine.git
	update = none

[submodule "blackroad-nutrition-tracker"]
	path = blackroad-nutrition-tracker
	url = https://github.com/BlackRoad-OS/blackroad-nutrition-tracker.git
	update = none

[submodule "blackroad-ocean-data-collector"]
	path = blackroad-ocean-data-collector
	url = https://github.com/BlackRoad-OS/blackroad-ocean-data-collector.git
	update = none

[submodule "blackroad-operator"]
	path = blackroad-operator
	url = https://github.com/BlackRoad-OS/blackroad-operator.git
	update = none

[submodule "blackroad-sdk"]
	path = blackroad-sdk
	url = https://github.com/BlackRoad-OS/blackroad-sdk.git
	update = none

[submodule "cece-logs"]
	path = cece-logs
	url = https://github.com/BlackRoad-OS/cece-logs.git
	update = none

[submodule "orgs/core/blackroad-hardware"]
	path = orgs/core/blackroad-hardware
	url = https://github.com/BlackRoad-OS/orgs/core/blackroad-hardware.git
	update = none

[submodule "orgs/core/blackroad-os-lucidia/blackroad.io"]
	path = orgs/core/blackroad-os-lucidia/blackroad.io
	url = https://github.com/BlackRoad-OS/orgs/core/blackroad-os-lucidia/blackroad.io.git
	update = none

[submodule "orgs/enterprise/blackbox-prefect/compat-tests"]
	path = orgs/enterprise/blackbox-prefect/compat-tests
	url = https://github.com/BlackRoad-OS/orgs/enterprise/blackbox-prefect/compat-tests.git
	update = none

[submodule "orgs/enterprise/blackbox-temporal/develop/docker-compose/grafana/provisioning/temporalio-dashboards"]
	path = orgs/enterprise/blackbox-temporal/develop/docker-compose/grafana/provisioning/temporalio-dashboards
	url = https://github.com/BlackRoad-OS/orgs/enterprise/blackbox-temporal/develop/docker-compose/grafana/provisioning/temporalio-dashboards.git
	update = none
