{
  "openapi": "3.0.3",
  "info": {
    "title": "BlackRoad Images",
    "description": "AI image generation with DALL-E, FLUX, and SDXL",
    "version": "1.0.0",
    "contact": {
      "name": "BlackRoad OS, Inc.",
      "url": "https://blackroad.io",
      "email": "alexa@blackroad.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/BlackRoad-OS-Inc"
    }
  },
  "servers": [
    {
      "url": "https://images.blackroad.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/generate": {
      "post": {
        "summary": "Generate AI image",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "summary": "Upload image to R2",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Search image library",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Image library statistics",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "summary": "List AI generation agents",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/:filename": {
      "get": {
        "summary": "Serve image by path",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "summary": "Upload image to path",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}