{
  "openapi": "3.0.3",
  "info": {
    "title": "RoadPay",
    "description": "BlackRoad billing system \u2014 subscriptions, invoices, payments",
    "version": "2.0.0",
    "contact": {
      "name": "BlackRoad OS, Inc.",
      "url": "https://blackroad.io",
      "email": "alexa@blackroad.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/BlackRoad-OS-Inc"
    }
  },
  "servers": [
    {
      "url": "https://pay.blackroad.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "summary": "List pricing plans",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/addons": {
      "get": {
        "summary": "List available add-ons",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers (auth required)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/subscribe": {
      "post": {
        "summary": "Create subscription",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/subscriptions/:id": {
      "get": {
        "summary": "Get subscription",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "summary": "Cancel subscription",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/upgrade": {
      "post": {
        "summary": "Upgrade plan",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "List invoices",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "List payments",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get usage metrics",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/usage/record": {
      "post": {
        "summary": "Record usage event",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/keys": {
      "get": {
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "summary": "Stripe webhook handler",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/stats": {
      "get": {
        "summary": "Billing statistics",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/lookup": {
      "get": {
        "summary": "Look up customer by email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/portal": {
      "post": {
        "summary": "Generate customer portal link",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "summary": "Public pricing page",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}