POSTGRES_PORT_5432_TCP_ADDR=postgres
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
POSTGRES_USER=huginn
HUGINN_DATABASE_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
HUGINN_DATABASE_USERNAME=huginn
HUGINN_DATABASE_NAME=huginn
