[Unit]
Description=Minio Object Storage
Documentation=https://min.io/docs/minio/linux/index.html
After=network.target

[Service]
Type=simple
User=minio
Group=minio
EnvironmentFile=-/etc/default/minio
ExecStart=/usr/local/bin/minio server /mnt/minio/data --console-address ":9001" --address ":9000"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
