[Unit]
Description=Ollama SSH Tunnel to aria64
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ssh -N   -L 11434:127.0.0.1:11434   -o StrictHostKeyChecking=no   -o ServerAliveInterval=30   -o ServerAliveCountMax=3   -o ExitOnForwardFailure=yes   alexa@192.168.4.38
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
